<footer class="footer">
  <small>
    Refer to the site <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a> shown below.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",help_path %></li>
    </ul>
  </nav>
</footer>